svg #vk-icon {
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
}

svg:hover #vk-icon {
    fill: #4c75a3;
}